
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('fitness-594143_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    margin-top: 20px;
    background-color: rgb(200, 197, 197);
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.error {
    margin-left: 60px;
    color: red;
    display: none;
}
.name,
.ul-list {
    text-align: center;
    padding: 15px;
}
.new {
    display: flex;
}

.write-one input {
    width: 250px;
}
.write-two input {
    width: 70px;
}

.create {
    width: 220px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.add {
    padding: 0 5px;
    margin-left: 45px;
}

ul {
    border: 1px solid black;
    width: 280px;
    background-color: rgb(177, 175, 175);
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    background-color: rgb(246, 243, 197);
}
.btns {
    display: flex;
    gap: 5px;
}
.edit,.complete,.delete {
    background-color: transparent;
    transition: all 0.3s ease 0s
}
.edit:hover,.complete:hover,.delete:hover {
    background-color: rgb(169, 167, 167);
}
.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    padding: 5px;
    border: 1px solid black;
    display: none;
}
.popup-open {
    display: flex;
}
.popup p {
    margin-bottom: 5px;
}
.popup input {
    margin-bottom: 5px;
    width: 220px;
}
.popup-btns {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.popup-save,
.popup-delete {
    padding: 0 10px;
}
